 html,
    body,
    #mainViewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    #ref1{
      color: #FFFFFF;
      position: bottom;
    }
/*#search {
    display: block;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 75px;
  }
#HomeButton {
      position: absolute;
      top: 95px;
      left: 20px;
      z-index: 50;
    }

#BasemapToggle {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 50;
    }

*/

